* {
    font-family: 'Segoe UI';
}

#header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    background-color: #fafafa;
}

#home {
    padding-left: 11.5%;
    margin: auto;
    color: inherit;
    text-decoration: none; 
}

#pages {
    padding-right: 10%;
    margin-right: auto;
    display: flex;
    list-style: none;
}

#pages li {
    margin: auto;
    justify-content: space-between;
    margin-inline: 10px;
    font-size: 80%;
}

#pages li a {
    color: inherit;
    text-decoration: none; 
}

#pages li a:hover {
    text-decoration: underline;
}

#footer p {
    text-align: center;
    padding-top: 100px;
    color: grey;
}

#index-main {
    margin-top: 150px;
}
#index-title, #index-subtitle, #index-social_medias, #footer {
    text-align: center;
}

#index-title {
    padding-top: 50px;
    font-size: 250%;
}