
#start {
    margin: 50px 10% 0 10%;
}

@media (max-width: 800px) {
    #main {
        margin: 0 -15px 0 -15px;
    }
    #start {
        margin: 0 -15px 0 -15px;
    }
    #resume {
        margin: 0 -15px 0 -15px;
    }
}

h1 { 
    margin: 30px 0;
    font-size: 250%;
}

h1:hover {
    color: var(--blue);
}

#photo img {
    margin: 20px;
    border-radius: 125px;
    border-width: thin;
    border-style: solid;
    border-color: grey;
    align-items: center;
}

p {
    text-align: justify;
}

hr {
    margin: 50px;
}

ol, ul#others-list {
    list-style-type: none;
}

h2 {
    font-family: var(--font1);
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
}

h3 {
    font-family: var(--font2);
    margin-top: 10px;
}

h4 {
    font-family: var(--font3);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.time {
    display: flex;
    text-align: right;
    color: grey;
    font-size: 80%;
}

.time dt {
    margin-inline: 5px;
}

.end {
    text-align: right;
}

.description {
    margin-left: 80px;
    margin-bottom: 20px;
}

.final-lists {
    list-style: none;
    font-family: var(--font3);
}