:root {
    --blue: #4392f1;
    --grey: #fafafa;
    --font1: "Oswald";
    --font2: "Montserrat";
    --font3: "Roboto";
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#banner {
    border: black 0.0001px solid;
    background: url(../images/physics.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
}

@media (min-width: 700px) {
    #banner{
        background: url(../images/physics.jpg);
        background-position: center center;
        background-size: cover;
    }
}

#banner a {
    color: white;
    transition: 0.2s
}

#banner a:hover {
    color: var(--blue);
    transition: 0.2s;
}

    #banner header {
        margin: 40px 0;
        display: flex;
        position: relative;
        font-family: var(--font2);
    }

        #banner #home {
            font-size: 150%;
            margin-left: 7.5%;
        }

        #banner #menu {
            display: flex;
            position: absolute;
            right: 0;
            top: 15%;
            margin-right: 7.5%;
        }    

            #banner header ul li {
                text-align: center;
                margin-left: 20px;
            }

            @media (max-width: 800px) {
                #banner #home {
                    font-size: 120%;
                }
                #banner header ul li {
                    font-size: 80%;
                }
            }

    #banner #banner-title {
        height: 100px;
        width: 50%;
        padding-top: 2%;
        padding-bottom: 6%;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

        #banner #banner-title h1 {
            color: white;
            font-size: 200%;
            margin-bottom: 20px;
            font-family: var(--font1);
        }

        #banner #banner-title p {
            color: white;
            font-family: var(--font3);
            margin-bottom: 50px;
            padding: 0 20%;
        }

        #banner #banner-title a {
            color: black;
            font-family: var(--font1);
            border-radius: 5px;
            background: white;
            padding: 10px;
        }

        #banner #banner-title a:hover {
            background: var(--blue);
            color: white;
            text-decoration: underline;
        }

        @media (max-width: 800px) {
            #banner #banner-title {
                height: 100px;
                padding-top: 5%;
                padding-bottom: 20%;
            }

            #banner #banner-title p {
                font-size: 80%;
                padding: 0 10%;
            }
        }

#content {
    padding: 70px 20%;
    font-family: var(--font3);
}

@media (max-width: 800px) {
    #content {
        padding: 80px 5%;
    }
}

    #content p {
        margin: 20px 0;
        text-align: justify;
    }

    #content p.highlight {
        text-align: center;
        color: var(--blue);
    }

#footer {
    background: black;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    color: white;
    font-family: var(--font2);
}