
#audio {
    font-family: var(--font3);
    font-size: 12.5px;
    color: grey;
    margin-left: auto;
    text-align: center;
}

    #audio audio {
        margin-top: 10px;
        margin-left: auto;
    }

#content {
    margin: 20px 10% 100px 10%;
}

    #content h1 {
        font-family: var(--font1);
    }

    #content h2 {
        font-family: var(--font3);
        color: grey;
        font-size: 15px;
        padding-bottom: 10px;
        margin-bottom: 40px;
        border-bottom: 1px solid grey;
    }

    #content {
        font-family: var(--font3);
    }

        #content a {
            color: var(--blue)
        }

        #content a:hover {
            text-decoration: underline;
        }

        #content img {
            margin-left: 50%;
            transform: translateX(-50%);
            margin-right: -50%;
            width: 50%;
        }
