
#title_block{
    height: 400px;
    padding-top: 250px;
    background-color: #FAFAFA;
}

    #title_block h1 {
        font-family: var(--font1);
        font-size: 50px;
        width: 50%;
        margin: 0 auto;
    }

    #title_block h2 {
        font-family: var(--font3);
        color: grey;
        font-size: 20px;
        width: 50%;
        margin: 0 auto;
    }

    #title_block p {
        font-family: var(--font3);
        width: 50%;
        margin: 30px auto 0px auto;
    }

#audio {
    font-family: var(--font3);
    font-size: 12.5px;
    color: grey;
    margin: 50px auto;
    text-align: center;
}

    #audio audio {
        margin-top: 10px;
        margin-left: auto;
    }

#content {
    margin: 100px 10% 100px 10%;
}

    #content {
        font-family: var(--font3);
    }

        #content a {
            color: var(--blue)
        }

        #content a:hover {
            text-decoration: underline;
        }

        #content img {
            margin-left: 50%;
            transform: translateX(-50%);
            margin-right: -50%;
            width: 50%;
        }
