:root {
    --blue: #4392f1;
    --grey: #fafafa;
    --font1: "Oswald";
    --font2: "Montserrat";
    --font3: "Roboto";
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#banner {
    border: black 0.0001px solid;
    background: black;
    background-position: center center;
    background-size: cover;
}

#banner a {
    color: white;
    transition: 0.2s
}

#banner a:hover {
    color: var(--blue);
    transition: 0.2s;
}

    #banner header {
        margin: 40px 0;
        display: flex;
        position: relative;
        font-family: var(--font2);
    }

        #banner #home {
            font-size: 150%;
            margin-left: 7.5%;
        }

        #banner #menu {
            display: flex;
            position: absolute;
            right: 0;
            top: 15%;
            margin-right: 7.5%;
        }    

            #banner header ul li {
                text-align: center;
                margin-left: 20px;
            }

            @media (max-width: 800px) {
                #banner #home {
                    font-size: 120%;
                }
                #banner header ul li {
                    font-size: 80%;
                }
            }

    #banner #banner-title {
        height: 280px;
        width: 50%;
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 10%;
    }

        #banner #banner-title h1 {
            color: white;
            margin-bottom: 20px;
            font-family: var(--font1);
        }

        #banner #banner-title p {
            color: white;
            text-align: left;
            font-family: var(--font3);
        }

        @media (max-width: 800px) {
            #banner #banner-title {
                height: 290px;
                padding-top: 20%;
            }

            #banner #banner-title h1 {
                font-size: 170%;
            }

            #banner #banner-title p {
                font-size: 80%;
            }
        }

    #banner footer {
        border-top: var(--blue) 2px solid;
        margin: 0 5%;
        padding: 40px 0;
        font-family: var(--font2);
    }

        #banner footer ul {
            display: flex;
            justify-content: center;
        }

            #banner footer ul li {
                padding: 0 10%;
                font-size: 80%;
            }

            #banner footer ul li p {
                color: var(--blue)
            }

            @media (max-width: 800px) {
                #banner footer {
                    padding: 20px 0;
                }
                
                #banner footer ul {
                    display: block;
                }

                #banner footer ul li {
                    padding: 10px 5%;
                    font-size: 60%;
                }
            }

#playlists{
    padding: 100px 10% 100px 10%;
    display: flex;
    background-color: black;
    color: white;
}

    #playliststitle{
        width: 50%;
        margin-bottom: 50px;
        padding-right: 20px;
    }
    
        #playlists #playliststitle h2 {
            font-family: var(--font1);
            font-size: 30px;
            color: white;
            margin-bottom: 10px;
        }

        #playlists #playliststitle p {
            font-family: var(--font3);
            color: white;
        }

    #playlistsplayer {
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 50%;
    }

@media (max-width: 800px) {
    #playlists {
        display: block;
    }

    #playlists #playliststitle {
        width: 100%;
    }

    #playlists #playlistsplayer {
        width: 100%;
    }

}

#books{
    padding: 100px 10% 100px 10%;
    display: flex;
    background-color: black;
}

    #books #bookstitle{
        width: 50%;
        margin-bottom: 50px;
        padding-right: 20px;
    }

        #books #bookstitle h2 {
            font-family: var(--font1);
            font-size: 30px;
            color: white;
            margin-bottom: 10px;
        }

        #books #bookstitle p {
            font-family: var(--font3);
            color: white;
        }

    .demo-container {
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 50%;
    }

        .carousel {
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
            height: 400px;
        }

            .carousel .carousel__item {
                display: inline-flex;
                vertical-align: top;
            }

                .carousel .carousel__item .demo-content {
                    width: 200px;
                    height: 400px;
                }

                    .demo-content img {
                        width: 80%;
                        margin-left: 50%;
                        transform: translateX(-50%);
                        margin-top: 15%;
                    }

                    .demo-content h1 {
                        font-family: var(--font1);
                        font-size: 110%;
                        width: 80%;
                        margin-left: 50%;
                        transform: translateX(-50%);
                        color: white;
                        white-space: pre-wrap;
                    }
                    .demo-content h2 {
                        font-family: var(--font2);
                        font-size: 70%;
                        width: 80%;
                        margin-left: 50%;
                        transform: translateX(-50%);
                        color: white;
                        white-space: pre-wrap;
                    }
                    .demo-content dt {
                        font-family: var(--font2);
                        font-size: 70%;
                        color: var(--blue);
                        width: 80%;
                        margin-left: 50%;
                        transform: translateX(-50%);
                    }
                
                #actual_reading {
                    background-color: white;
                }

                    #actual_reading h1, #actual_reading h2{
                        color: black;
                    }

    @media (max-width: 800px) {
        #books {
            display: block;
        }

        #books #bookstitle {
            width: 100%;
        }

        #books .demo-container {
            width: 100%;
        }

    }
                       

#posts {
    background-color: #111111;
    padding: 50px 10%;
    font-family: var(--font3);
    color: white;
}

    #posts .list {
        margin: 100px 0;
    }

    #posts .list li:hover {
        background-color: #FAFAFA;
        color: black;
        transition: 0.2s;
    }
        #posts .list h2 {
            margin-bottom: 20px;
            font-family: var(--font1);
            font-size: 30px;
        }

            #posts .list li {
                background-color: black;
                color: var(--blue);
                padding: 40px 30px;
                font-size: 17.5px;
                margin-bottom: 30px;
                transition: 0.2s;
            }

                #posts .list li p {
                    margin-top: 5px;
                    font-size: 15px;
                    color: white;
                    font-family: var(--font3);
                    transition: 0.2s;
                }

                #posts .list li:hover p {
                    color: black;
                    transition: 0.2s;
                }

#shorts {
    background-color: black;
    color: white;
    font-family: var(--font3);
    padding: 150px 10% 100px 10%;
}

    #shorts .year {
        display: flex;
    }

    #shorts h2 {
        width: 50%;
        margin-bottom: 50px;
        font-family: var(--font1);
        font-size: 30px;
        color: white;
    }

    #shorts .list {
        width: 50%;
    }

    #shorts li {
        margin-bottom: 20px;
    }

        #shorts li dt {
            color: var(--blue);
            margin-top: 5px;
        }

        #shorts li img {
            width: 50%;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

    #shorts li a {
        color: var(--blue);
    }

    #shorts a:hover {
        text-decoration: underline;
    }

    @media (max-width: 800px) {
        #shorts .year {
            display: block;
        }

        #shorts h2 {
            width: 100%;
        }

        #shorts .list {
            margin-left: 0;
            width: 100%;
        }

            #shorts li img {
                width: 100%;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
    }
