html {
    scroll-behavior: smooth;
}

:root {
    --blue: #4392f1;
    --grey: #fafafa;
    --font1: "Oswald";
    --font2: "Montserrat";
    --font3: "Roboto";
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#banner {
    border: black 0.0001px solid;
    background: url(../images/background-index.jpg);
    background-position: center center;
    background-size: cover;
}

#banner a {
    color: white;
    transition: 0.2s
}

#banner a:hover {
    color: var(--blue);
    transition: 0.2s;
}

    #banner header {
        margin: 40px 0;
        display: flex;
        position: relative;
        font-family: var(--font2);
    }

        #banner #home {
            font-size: 150%;
            margin-left: 7.5%;
        }

        #banner #menu {
            display: flex;
            position: absolute;
            right: 0;
            top: 15%;
            margin-right: 7.5%;
        }    

            #banner header ul li {
                text-align: center;
                margin-left: 20px;
            }

            @media (max-width: 800px) {
                #banner #home {
                    font-size: 120%;
                }
                #banner header ul li {
                    font-size: 80%;
                }
            }

    #banner #banner-title {
        height: 280px;
        width: 50%;
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 10%;
    }

        #banner #banner-title h1 {
            color: white;
            margin-bottom: 20px;
            font-family: var(--font1);
        }

        #banner #banner-title p {
            color: white;
            text-align: justify;
            font-family: var(--font3);
        }

        @media (max-width: 800px) {
            #banner #banner-title {
                height: 290px;
                padding-top: 20%;
            }

            #banner #banner-title h1 {
                font-size: 170%;
            }

            #banner #banner-title p {
                font-size: 80%;
            }
        }

    #banner footer {
        border-top: var(--blue) 2px solid;
        margin: 0 5%;
        padding: 40px 0;
        font-family: var(--font2);
    }

        #banner footer ul {
            display: flex;
            justify-content: center;
        }

            #banner footer ul li {
                padding: 0 10%;
                font-size: 80%;
            }

            #banner footer ul li p {
                color: var(--blue)
            }

            @media (max-width: 800px) {
                #banner footer {
                    padding: 20px 0;
                }
                
                #banner footer ul {
                    display: block;
                }

                #banner footer ul li {
                    padding: 10px 5%;
                    font-size: 60%;
                }
            }

#indice {
    background: black;
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
    color: white;
}

    #indice #indice-title {
        width: 50%;
        line-height: 25px;
        margin-left: 60px;
    }

        #indice #indice-title h2 {
            padding-top: 20px;
            font-family: var(--font1);
        } 

    #indice #indice-list {
        margin-right: 80px;
        text-align: justify; 
    }

        #indice #indice-list li {
            padding-bottom: 20px;
        }

            #indice #indice-list li h3 {
                font-family: var(--font2);
            }

                #indice #indice-list li h3 a {
                    color: white;
                    font-size: 150%;
                    transition: 0.2s;
                }

                #indice #indice-list li h3 a:hover {
                    color: var(--blue);
                    text-decoration: underline;
                    transition: 0.2s
                }

            #indice #indice-list li p {
                font-family: var(--font3);
            }

    #indice #indice-list {
        width: 50%;
    }

    @media (max-width: 800px) {
        #indice {
            display: block;
        }
        
        #indice #indice-title {
            width: 80%;
            margin-bottom: 20px;
            margin-left: 30px;
        }
        
        #indice #indice-list {
            width: 100%;
        }

            #indice #indice-list ul {
                font-size: 80%;
                padding: 0 30px;
            }
    }

#projetos {
    background-color: #111111;
    padding: 5em 10em 5em 10em;
    color: white;
}

    #projetos h2 {
        text-align: center;
        font-size: 2em;
        font-family: var(--font1);
        margin-bottom: 1em;
    }

    #projetos ul {
        display: flex;
        justify-content: center;
    }

        #projetos ul li {
            position: center;
            margin: 1em;
            width: 20em;
            text-align: center;
        }
        
        #projetos ul li h3, h4{
            font-family: var(--font2);
        }
        
        #projetos ul li h3 {
            margin-top: 1em;
            font-size: 1.5em;
        }
        
            #projetos ul li a {
                color: var(--blue);
                transition: 0.5s;
            }

            #projetos ul li a:hover {
                color: white;
                text-decoration: underline;
                transition: 0.5s;
            }
        
            #projetos ul li img {
                border: solid white;
                width: 60%;
                transition: 1s;
            }

                #projetos ul li img:hover {
                    transform: translateY(-10px);
                    transition: 1s;
                }
        
            #projetos ul li p {
                margin-top: 1em;
                font-size: 0.9em;
                text-align: justify;
                font-family: var(--font3);
            }

    @media (max-width: 700px) {
        #projetos {
            padding: 4em;
        }

        #projetos ul {
            display: block;
            padding-left: 0;
        }

        #projetos ul li {
            margin: 0;
            margin-bottom: 5em;
            width: 100%;
        }

        #projetos ul li img {
            width: 60%;
        }
    }

#sobre {
    background: black;
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
    color: white;
}

    #sobre #sobre-title {
        width: 50%;
        line-height: 25px;
        margin-left: 60px;
    }

        #sobre #sobre-title h2 {
            padding-top: 20px;
            font-family: var(--font1);
        } 

    #sobre #sobre-list {
        margin-right: 80px;
        text-align: justify; 
    }

        #sobre #sobre-list li {
            padding-bottom: 20px;
        }

            #sobre #sobre-list li h3 {
                font-family: var(--font2);
                color: var(--blue);
                font-size: 150%;
                transition: 0.2s;
                margin-bottom: 10px;
            }

            #sobre #sobre-list li h3:hover {
                color: white;
                transition: 0.2s
            }

            #sobre #sobre-list li p {
                font-family: var(--font3);
            }

            #sobre #sobre-list li p a {
                color: var(--blue);
                transition: 0.2s;
            }

            #sobre #sobre-list li p a:hover {
                color: white;
                text-decoration: underline;
                transition: 0.2s;
            }

    #sobre #sobre-list {
        width: 50%;
    }

    @media (max-width: 800px) {
        #sobre {
            display: block;
        }
        
        #sobre #sobre-title {
            width: 80%;
            margin-bottom: 20px;
            margin-left: 30px;
        }
        
        #sobre #sobre-list {
            width: 100%;
        }

            #sobre #sobre-list ul {
                padding: 0 30px;
                font-size: 80%;
            }
    }
        
#resume {
    margin: 80px 200px;
}

@media (max-width: 800px) {
    #resume {
        margin: 80px 30px;
        text-align: justify;
    }
}

    ol, ul#others-list {
        list-style-type: none;
    }

        #resume h2 {
            font-family: var(--font1);
            margin-top: 30px;
            margin-bottom: 20px;
            border-bottom: grey 1px solid;
        }

        #resume h3 {
            font-family: var(--font2);
            text-align: left;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        #resume h4 {
            font-family: var(--font3);
            font-size: 90%;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }

    .time {
        display: flex;
        text-align: right;
        color: grey;
        font-size: 80%;
    }

        .time dt {
            margin-inline: 5px;
        }

    .end {
        text-align: right;
    }

    .description {
        margin-bottom: 30px;
        text-align: left;
        font-family: var(--font3);
        font-size: 80%;
    }

    #resume li p {
        font-family: var(--font3);
        font-size: 0.9em;
    }

    .final-lists li {
        margin: 10px 0;
        list-style: none;
        font-family: var(--font3);
        font-size: 0.9em;
    }

    #resume a:hover {
        text-decoration: underline;
    }


#footer-box {   
    background: black;
    height: 100%;
}

#footer {
    padding-top: 100px;
    color: white;
    font-family: var(--font3);
}

    #footer #footer-infos {
        padding-left: 100px;
    }

        #footer #footer-infos h2 {
            font-family: var(--font1);
            font-size: 300%;
            margin-bottom: 30px;
        }

        #footer #footer-icons {
            margin-left: -10px;
        }

            #footer #footer-infos p {
                line-height: 150%;
            }

            #footer #footer-icons .fa {
                color: white;
                padding: 10px;
                font-size: 20px;
                width: 20px;
                transition: 0.25s;
            }

            #footer #footer-icons a:hover {
                color: var(--blue);
                transition: 0.25s;
            }

@media (max-width: 800px) {
    #footer #footer-infos {
        padding: 0;
        margin-left: 50%;
        transform: translateX(-50%)
    }
}

#footer #footer-date {
    text-align: center;
    padding: 100px 0 50px 0;
    color: grey;
}
